html {
}

body {
    background-image: url('champsDAMOUR.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

#start {
    width: 50px;
    margin-left: 550px;
    margin-top: 100px;
}

#field0 {
    float: left;
    padding-right: 50px;
}

#field1 {
    float: left;
    padding-right: 50px;
}

#field2 {
    float: left;
}

#fields {
    width: 330px;
    height: 85px;
    margin-top: 50px;
    text-align: center;
}

#field0-water_level {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    color: black;
    text-align: center;
}

#field1-water_level {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    color: black;
    text-align: center;
}

#field2-water_level {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    color: black;
    text-align: center;
}

#field0-maturation {
    text-align: center;
    color: black;
    border: 2px solid black;
}

#field1-maturation {
    text-align: center;
    color: black;
    border: 2px solid black;
}

#field2-maturation {
    text-align: center;
    color: black;
    border: 2px solid black;
}

#boutton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 115px;
    height: 75px;
}

#oui {
    margin-top: 500px;
}

#prog {
    width: 100px;
}

.container-tab {
    background-color: #4C4122;
    border-radius: 50px;
    width: 50%;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

p.error {
    text-align: center;
    color: #ff0000;
    text-decoration: underline;
    font-size: 25px;
    margin: auto;
    margin-bottom: 35px;
}

#stat {
    background-color: #3B321A;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: black;
}

#stat2 {
    background-color: #3B321A;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 75%;
    border-color: black;
}

#buy {
    margin-left: 232px;
}

#stat tr td {
    padding: 20px;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
}

#stat2 tr td {
    padding: 5px;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
}

#scoretab {
    background-color: #404040;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

#scoretab tr td {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
}

#score
h3 {
    color: #fff;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

.copyright {
    margin-top: 450px;
    text-align: center;
    color: #fff;
}

.br {
    padding: 45px;
}

#fade {
    /*--Masque opaque noir de fond--*/
    display: none;
    /*--masqué par défaut--*/
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 9999;
}

.popup_block {
    display: none;
    /*--masqué par défaut--*/
    background: #4C4122;
    padding: 20px;
    border: 20px solid #3B321A;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    /*--Les différentes définitions de Box Shadow en CSS3--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--Coins arrondis en CSS3--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

img.btn_close {
    float: right;
    margin: -55px -55px 0 0;
}


/*--Gérer la position fixed pour IE6--*/

*html #fade {
    position: absolute;
}

*html .popup_block {
    position: absolute;
}

.container-fluid {
    display: block;
}

#field0 {
    position: relative;
    display: inline-block;
    width: 27%;
    float: left;
}

#field0-maturation {
    width: 100px;
}

#field1 {
    position: relative;
    display: inline-block;
    width: 27%;
    float: none;
}

#field1-maturation {
    width: 100px;
}


#field2 {
    position: relative;
    display: inline-block;
    width: 10%;
    float: right;
}

#field2-maturation {
    width: 100px;
}

#show-score {
    margin: auto;
    text-align: center;
    margin-left: 50%;
}

hr {
    color: #000;
}

#field0-water_level {
    color: #fff;
    border-color: #fff;
}

#field1-water_level {
    color: #fff;
    border-color: #fff;
}

#field2-water_level {
    color: #fff;
    border-color: #fff;
}



