html{
  height: 100%;
}
body{
  background-color: #222d32;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

a, a:hover, a:focus{
  text-decoration: none;
}

main{
  padding-top: 15px;
  padding-bottom: 170px
}

.page-wraper{
  position: relative;
  background-color: #f5f8fa;
  min-height: 100%;
  margin-left: 230px;
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
}

.label-primary{
  background-color: rgb(96, 125, 139);
}

.text-red {
    color: #dd4b39 !important;
}

.text-yellow {
    color: #f39c12 !important;
}

.text-aqua {
    color: #00c0ef !important;
}

.bg-grey{
  background-color: grey !important;
}

.page-wraper>header{
  color: white;
  background-color: rgb(96, 125, 139);
  padding: 30px;
}

.page-wraper>header a{
  color: white;
}

.navbar{
  border-radius: 0px;
}

.mega-footer{
  background-color: #424242;
  color: #9e9e9e;
  padding: 30px;
}

.mega-footer h1.footer-header{
  color: #e0e0e0;
  font-size: 14px;
}

.mega-footer .link-list a{
  color: #9e9e9e;
}

.link-list{
  list-style: none;
  padding: 0;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.card{
  background-color: white;
}

.card-shadow-2dp{
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
}

.card-media{
  min-height: 200px;
}

/************* SIDEBAR ***************/
.main-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
  background-color: #222d32;
}

.sidebar{
  padding-bottom: 10px;
  height: auto;
}

.sidebar-form input[type="text"]:focus, .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
  background-color: #fff;
  color: #666;
}

.user-panel{
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px;
  color: white;
}

.user-panel>.image-responsive>img{
  width: 100M;
  max-width: 45px;
  height: auto;
}

.img-circle{
  border-radius: 50%;
}

.user-panel>.info{
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position absolute;
  left: 55px;
}

.sidebar-form{
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}

.sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.sidebar-form input[type="text"], .sidebar-form .btn {
  color: #999;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar a {
  color: #b8c7ce;
}

.sidebar-menu>li.header {
  color: #4b646f;
  background: #1a2226;
  overflow: hidden;
  text-overflow: clip;
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar-menu li>a {
  position: relative;
}

.sidebar-menu>li.active>a, .sidebar-menu>li>a:hover{
  color: #fff;
  background: #1e282c;
  border-left: 3px solid #3c8dbc;
}

.treeview-menu>li.active>a, .treeview-menu>li>a:hover, .treeview-menu>li>a:focus  {
  color: #fff;
}

.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block;
}

.sidebar-menu>li>a>.fa {
  width: 20px;
}

.sidebar-menu li.active>a>.fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sidebar-menu li>a>.fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}

.sidebar-menu li>a>.pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  display: block;
}

.sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  padding: 0px;
  background: #2c3b41;
}

.sidebar-menu .treeview-menu>li {
  margin: 0;
}

.treeview-menu>li>a {
  color: #8aa4af;
}

.treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}

/* Content header */
.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
}
.content-header>.breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}

.card .action-bar .btn{
  margin-right: 15px;
}

.card-title{
  background-color: rgb(96, 125, 139);
  color: #fff;
}

/***** MEGA-FOOTER ****/
.mega-footer {
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/****** Summary ******/
.summary{
  border-left: 3px solid #3c8dbc;
}

.summary li{
  display: block;
}

.btn-circle{
  text-align: center;
  line-height: 1.8;
  border-radius: 50%;
  font-size: 2rem;
  height: 56px;
  width: 56px;
  padding: 0;
  margin-top: -15px;
  overflow: hidden;
  background: rgba(158,158,158,.2);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}

.file-custom:before{
  content: 'Parcourir';
}

.file-custom:after{
  content: '';
}

.file-custom{
  white-space: nowrap;
  overflow: hidden;
}

.progress{
  display: none;
}